body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top-4{
  top: 0.85rem;
}
.right-4{
  right: 1rem;
}
.top-025{
  top: 0.25rem;
}
.w-fit{
width: fit-content;
}
.Dashboard{
  /* background-color: rgb(127, 176, 240); */
  height: 100vh;
}
.profile{
  font-size: 40px;
}
.searchbar{
  width: 17rem;
  border-radius: 1px;
}
.dashIcons{
  height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
.search-icon{
  top: 2px;
  right: 2px;
  padding: 1px 9px;
  background: white;
}